body {
	padding: 50px;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url(../images/rio.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

input {
	text-align: center;
	width: 80%;
	font-size: 14px;
}

select { 
	width: 80%;	
}

table {
	font-family: arial, sans-serif;
	font-weight: bold;
	border-collapse: collapse;
	width: 100%;
	color: #FFFFFF;
}

td, th {
	border-collapse: collapse;
	border-bottom: 1px solid #b3b3b3;
	border-top: 1px solid #b3b3b3;
	text-align: center;
	padding: 6px;
}

h2,label {
	color: #FFFFFF;
}

.buscar {
	text-align: center;
	width: 30%;
}

.button {
	border-radius: 8px;
	padding: 15px 32px;
	cursor: pointer;
	font-size: 18px;
}

.buttonVoltar {
	font-size: 14px;
}

.buttonCadastrar {
	color: #FFFFFF;
	font-size: 18px;
	background-color: #337ab7;
}

.buttonTable {
	border-radius: 6px;
	padding: 6px 12px;
	cursor: pointer;	
	color: #FFFFFF;
}

.buttonEditar{
	background-color: #337ab7;
}

.buttonRemover{
	background-color: #F44336;
}

.text-vertical-center {
    text-align: center;
    color: #FFFFFF
}

.text-vertical-center h1 {
    font-size: 4.5em;
}
