<h2>Atualizar Cidade</h2>
<div align="center">
	<form id="form_atualizar" ng-submit="update()">
		<table width="50%">
			<tr align="center" bgcolor="#337ab7">
				<td colspan="2"><b>Informações Gerais</b></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Nome:</b></td>
				<td> <input type="text" value="{{cidade.nome}}" disabled></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Lema:</b></td>
				<td> <input type="text" ng-model="cidade.lema" value="{{cidade.lema}}" required></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Gentílico:</b></td>
				<td> <input type="text"  ng-model="cidade.gentilico" value="{{cidade.gentilico}}"></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Prefeito Atual:</b></td>
				<td> <input type="text" ng-model="cidade.prefeitoatual" value="{{cidade.prefeitoatual}}" required></td>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr align="center" bgcolor="#337ab7">
				<td colspan="2"><b>Localização</b></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Unidade Federativa (UF):</b></td>
				<td> <input type="text" value="{{cidade.unidadefederativa}}" disabled></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Distância (km) até a Capital Estadual:</b></td>
				<td> <input type="number" ng-model="cidade.distanciacapital" min="0" value="{{cidade.distanciacapital}}" required></td>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr align="center" bgcolor="#337ab7">
				<td colspan="2"><b>Características Geográficas</b></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Área (km²):</b></td>
				<td> <input type="number" ng-model="cidade.area" min="0" value="{{cidade.area}}" required></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Altitude (m):</b></td>
				<td> <input type="number" ng-model="cidade.altitude" min="0" value="{{cidade.altitude}}" required></td>
			</tr>
		</table>
		<br>
	</form>

	<button class="button buttonVoltar" ng-click="voltar()">Voltar</button>
	<button class="button buttonCadastrar" type="submit" form="form_atualizar">Atualizar</button>	
	
</div>