<h2>Cadastrar Cidade</h2>
<div align="center">
	<form id="form_cadastrar" ng-submit="salvar()">
		<table width="50%">
			<tr align="center" bgcolor="#337ab7">
				<td colspan="2"><b>Informações Gerais</b></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Nome:</b></td>
				<td> <input type="text" ng-model="modelNome" required> </td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Lema:</b></td>
				<td> <input type="text" ng-model="modelLema" required> </td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Gentílico:</b></td>
				<td> <input type="text" ng-model="modelGentilico"> </td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Prefeito Atual:</b></td>
				<td> <input type="text" ng-model="modelPrefeito" required> </td>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr align="center" bgcolor="#337ab7">
				<td colspan="2"><b>Localização</b></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Unidade Federativa (UF):</b></td>
				<td>
					<select ng-model="modelUF" required>
						<option value="">---Selecione---</option>
						<option value="Acre - AC">Acre - AC</option>
						<option value="Alagoas - AL">Alagoas - AL</option>
						<option value="Amapá - AP">Amapá - AP</option>
						<option value="Amazonas - AM">Amazonas - AM</option>
						<option value="Bahia - BA">Bahia - BA</option>
						<option value="Ceará - CE">Ceará - CE</option>
						<option value="Distrito Federal  - DF">Distrito Federal  - DF</option>
						<option value="Espírito Santo - ES">Espírito Santo - ES</option>
						<option value="Goiás - GO">Goiás - GO</option>
						<option value="Maranhão - MA">Maranhão - MA</option> 
						<option value="Mato Grosso - MT">Mato Grosso - MT</option> 
						<option value="Mato Grosso do Sul - MS">Mato Grosso do Sul - MS</option>
						<option value="Minas Gerais - MG">Minas Gerais - MG</option>
						<option value="Pará - PA">Pará - PA</option>
						<option value="Paraíba - PB">Paraíba - PB</option>
						<option value="Paraná - PR">Paraná - PR</option>
						<option value="Pernambuco - PE">Pernambuco - PE</option>
						<option value="Piauí - PI">Piauí - PI</option>
						<option value="Rio de Janeiro  - RJ">Rio de Janeiro  - RJ</option>
						<option value="Rio Grande do Norte  - RN">Rio Grande do Norte  - RN</option>
						<option value="Rio Grande do Sul - RS">Rio Grande do Sul - RS</option>
						<option value="Rondônia - RO">Rondônia - RO</option>
						<option value="Roraima - RR">Roraima - RR</option>
						<option value="Santa Catarina - SC">Santa Catarina - SC</option>
						<option value="São Paulo - SP">São Paulo - SP</option>
						<option value="Sergipe - SE">Sergipe - SE</option>
						<option value="Tocantins - TO">Tocantins - TO</option>
					</select>
				</td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Distância (km) até a Capital Estadual:</b></td>
				<td> <input type="number" ng-model="modelDistancia" min="0" required> </td>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr align="center" bgcolor="#337ab7">
				<td colspan="2"><b>Características Geográficas</b></td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Área (km²):</b></td>
				<td> <input type="number" ng-model="modelArea" min="0" required> </td>
			</tr>
			<tr></tr><tr></tr>
			<tr>
				<td align="center"><b>Altitude (m):</b></td>
				<td> <input type="number" ng-model="modelAltitude" min="0" required> </td>
			</tr>
		</table>
		<br>
	
	</form>

	<button class="button buttonVoltar" ng-click="voltar()">Voltar</button>
	<button class="button buttonCadastrar" type="submit" form="form_cadastrar">Cadastrar</button>	
	
</div>