<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<title><%= titulo %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="icon" href="../public/images/favicon.ico" type="image/x-icon" />
		
		<!-- BIBLIOTECAS -->
		<script src="../libs/angular.min.js"></script>
		<script src="../libs/angular-route.min.js"></script>
		<script src="../libs/angular-resource.min.js"></script>

		<!-- CONTROLES -->
		<script src="../controllers/MainController.js"></script>
		<script src="../controllers/CadastrarController.js"></script>
		<script src="../controllers/ListarController.js"></script>
		<script src="../controllers/AtualizarController.js"></script>
	</head>
	<body>
		<div class="text-vertical-center">
			<h1><%= titulo %></h1>
		</div>

		<ng-view></ng-view>

		<!-- TEMPLATE -->
		<script type="text/ng-template" id="/cidades.html">
			<div class="text-vertical-center">
				<a href="#/cadastrar"><button class="button">Cadastrar</button></a>
				<a href="#/listar"><button class="button">Listar</button></a>
			</div>
		</script>
	</body>
</html>