<table>
	<tr>
		<td><label><b>Busca pelo Nome:</b></label><input type="text" class="buscar" ng-model="search.nome"></td>
		<td><label><b>Busca pela UF:</b></label><input type="text" class="buscar" ng-model="search.unidadefederativa"></td>
	</tr>
</table>


<br><br><br>
<table>
	<thead>
		<tr bgcolor="#337ab7">
			<th>Nome</th>
			<th>Lema</th>
			<th>Gentílico</th>
			<th>Prefeito Atual</th>
			<th>Unidade Federativa (UF)</th>
			<th>Distância até a Capital Estadual</th>
			<th>Área</th>
			<th>Altitude</th>
		</tr>	
	</thead>
	<tbody>
		<tr ng-repeat="cidade in cidades | filter: search | orderBy: 'nome'">
			<td>{{cidade.nome}}</td>
			<td>{{cidade.lema}}</td>
			<td>{{cidade.gentilico}}</td>
			<td>{{cidade.prefeitoatual}}</td>
			<td>{{cidade.unidadefederativa}}</td>
			<td>{{cidade.distanciacapital | number}} km</td>
			<td>{{cidade.area | number}} km²</td>
			<td>{{cidade.altitude | number}} m</td>
			<td><a href="#/atualizar/{{cidade._id}}"><button class="buttonTable buttonEditar">Atualizar</button></a></td>
			<td> <button class="buttonTable buttonRemover" ng-click="remover(cidade.nome, cidade.unidadefederativa)">Remover</button> </td>
		</tr>
	</tbody>
</table>
<br><br><br>
<button class="button buttonVoltar" ng-click="voltar()">Voltar</button>